@charset "utf-8";
/* CSS Document */

/* One */
#one nav {
	padding: 0;
	text-align: center;
	clear: both;
	display: block;
}
#one nav a {
	display: inline-block;
	text-decoration: none;
	padding: .3em 1em;
	border-top: 3px solid rgba(255,255,255,0.50);
	color: #fff;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#one nav a:hover {
	border-top: 3px solid #fff;
	color: #fff;
}
#one nav a.current {
	border-top: 3px solid #fff;
	font-weight: bold;
}
#one .pages {
	display: inline-block;
}
#one .paged .previous, #one .paged .previous:hover, #one .paged .next, #one .paged .next:hover {
	border: 3px solid transparent;
}
#one .paged .previous:hover, #one .paged .next:hover {
	border: 3px solid #fff;
}
#one .paged .previous {
	margin-right: 1em;
}
#one .paged .next {
	margin-left: 1em;
}
@media all and (max-width: 575px) {
	#one .paged .previous {
		margin-right: 0;
	}
	#one .paged .next {
		margin-left: 0;
	}
	#one nav a {
		display: block;
		text-align: center;
		font-size: 1.25em;
	}
	#one .pages a {
		display: inline-block;
		padding-bottom: 0;
		margin: 0 0.25em;
	}
}
@media all and (max-width: 460px) {
	#one nav a {
		margin: 0.5em auto;
		padding-left: 0;
		padding-right: 0;
	}
	#one .pages a {
		font-size: 2em;
	}
}
@media all and (max-width: 350px) {
	#one .pages a {
		border: 0 none;
	}
}

/* Two */
#two nav {
	padding: 0;
	text-align: center;
	clear: both;
	display: block;
	
}
#two nav a {
	text-decoration: none;
	padding: .3em 1em;
	display: inline-block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}
#two nav a.current {
	background-color: #6D81B5;
	color: #fff;
}
#two nav a:hover {
	background-color: #fff;
	color: #6D81B5;
}
#two nav .previous {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	text-align: right;
}
#two nav .next {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	text-align: left;
}
#two nav .pages {
	display: inline-block;
}
@media all and (max-width: 560px) {
	#two nav a {
		display: block;
		font-size:1.25em;
		text-align:center;
		margin: 0.5em 0;
	}
	#two nav .next, #two nav .previous {
		text-align:center;
	}
	#two nav .next {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	}
	#two nav .pages {
		display: block;
		width: 100%;
	}
	#two nav .pages a {
		display: inline-block;
	}
}
@media all and (max-width: 430px) {
	#two nav .pages a {
		display: block;
		font-size:1.25em;
		text-align:center;
		margin: 0.5em 0;
	}
}

/* Three */
#three nav {
	padding: 0;
	text-align: center;
	clear: both;
	display: block;
}
#three nav a {
	text-decoration: none;
	padding: 0.25em;
	line-height: 2em;
	display: inline-block;
	color: #fff;
}
#three nav a:hover {
	color: #263F7F;
}
#three nav .previous {
	text-align: right;
}
#three nav .next {
	text-align: left;
}
#three nav .pages {
	display: inline-block;
}
#three nav .pages a {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	border: 3px solid #fff;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#three nav .pages a.current {
	background-color: #fff;
	color: #263F7F;
	font-weight: bold;
	border-color: transparent;
}
#three nav .pages a:hover {
	color: #000;
	border-color: transparent;
	background-color: rgba(255,255,255,0.50);
}
@media all and (max-width: 510px) {
	#three nav {
		font-size:1.25em;

	}
	#three nav a {
		margin: 0.25em;
	}
}

/* Four */
#four nav {
	padding: 0;
	text-align: center;
	clear: both;
	display: block;
}
#four nav a {
	text-decoration: none;
	padding: 0.25em;
	line-height: 1em;
	display: inline-block;
	color: #fff;
}
#four nav a:hover {
	color: #6D81B5;
}
#four nav .previous {
	text-align: right;
}
#four nav .next {
	text-align: left;
}
#four nav .pages {
	display: inline-block;
}
#four nav .pages a, #four nav a.pages {
	height: 1em;
	border: 3px solid #fff;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#four nav .pages a {
	width: 1em;
}
#four nav .pages a.current {
	background-color: #fff;
	color: #6D81B5;
	font-weight: bold;
}
#four nav .pages a:hover, #four nav a.pages:hover {
	background-color: rgba(255,255,255,0.50);
	border-color: transparent;
	color: #fff;
}
@media all and (max-width: 450px) {
	#four nav {
		font-size: 1.25em;
	}
	#four nav a {
		margin: 0.25em;
	}
	#four nav .pages a, #four nav a.pages {
		height: auto;
	}
}

/* Five */
#five nav {
	padding: 0;
	text-align: center;
	clear: both;
	display: block;
	color: #fff;
}
#five nav a {
	text-decoration: none;
	padding: 0.25em;
	line-height: 1em;
	display: inline-block;
	color: #fff;
}
#five nav a:hover {
	color: #263F7F;
}
#five nav .pages {
	display: inline-block;
}
#five nav .pages span:after {
	content: " |";
}
#five nav .pages span:last-of-type:after {
	content: normal;
}
#five nav .pages a, #five nav a.pages {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#five nav .pages a {
	width: 1em;
}
#five nav .pages a.current {
	color: #263F7F;
	font-weight: bold;
}
@media all and (max-width: 450px) {
	#five nav {
		font-size: 1.25em;
	}
	#five nav a {
		padding: 0.5em;
	}
}
